autocorrect==2.6.1
Django==4.2
djangorestframework==3.14.0
fastapi==0.95.0
fitz==0.0.1.dev2
lime==0.2.0.1
matplotlib==3.7.0
numpy==1.23.5
pandas==1.5.3
Pillow==9.5.0
plotly==5.9.0
pydantic==1.10.7
pytesseract==0.3.10
scikit_learn==1.2.2
scipy==1.10.0
huggingface_hub>=0.14.0
sentence_transformers>=2.3.0
transformers>=4.30.0
torch==1.12.1
uvicorn==0.21.1
